<div class="row">
    <div class="col-12 text-end">
        <button class="btn btn-success" (click)="addNewAirport()">Add New</button>
        <button class="btn btn-success" (click)="bulkUpdateAirport()">Bulk Update</button>
    </div>
    </div>
    
    <div class="row">
        <div class="col-12">
          <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr No</th>
    
                    <th>Airport Code</th>
                    <th>Airport Name</th>
                    <th>city</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let airport of airportList ;let sr=index">
              
                    <td>{{sr+1}}</td> 
                    <td><input type="text" [(ngModel)]="airport.airportCode" ></td> 
                    <td><input type="text" [(ngModel)]="airport.airportName" ></td> 
                    <td><input type="text" [(ngModel)]="airport.cityName" ></td> 
                     <td><button (click)="onDelete(airport.airportId)">Delete</button></td>
                </tr>
            </tbody>
          </table>
    
        </div>
    </div>
    <!-- 0:33 -->